@font-face {
  font-family: "iconfont"; /* Project id 2540216 */
  src: url('iconfont.woff2?t=1620703721040') format('woff2'),
       url('iconfont.woff?t=1620703721040') format('woff'),
       url('iconfont.ttf?t=1620703721040') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou1:before {
  content: "\e622";
}

.icon-arrow-left:before {
  content: "\e645";
}

.icon-arrow-up:before {
  content: "\e647";
}

.icon-tubiaozhizuo-:before {
  content: "\e604";
}

